<?py # -*- coding: utf-8 -*- ?>
<?py import time ?>
/**
 * SECTION: #{file_base}
 * @short_description: #{camel_id}类.
 * @title: #{camel_id}类
 * @see_also: 
 * @stability: 开发中
 * @include: #{file_base}.h
 * 
 * 
<?py _module = module if 'module' in dir() else 'TODO:添加模块名' ?>
 * 所属模块: #{_module}
 * 
<?py _author = author if 'author' in dir() else 'TODO:添加作者名' ?>
 * 作者: #{_author}
 * 
 * 
 * 创建于: #{time.strftime("%Y-%m-%d %H:%M:%S")}
 * 
 * 主要功能:
 *  - TODO: 添加功能列表
 * 
 * 
 * Since: 1.0.0
 */