<?py # -*- coding: utf-8 -*- ?>

/**
 * SECTION: #{file_base}
 * @short_description: #{camel_id}类.
 * @title: #{camel_id}类
 * @see_also: 
 * @stability: 开发中
 * @include: #{file_base}.h
 * 
 * 
<?py if 'module' in dir():>
 * 所属模块: #{module}
<?py #endif>
 * 
<?py if 'author' in dir():>
 * 作者: #{author}
<?py #endif>
 * 
 * 
 * 创建于: #{time.strftime("%Y-%m-%d %H:%M:%S")}
 * 
 * 主要功能:
 *  - TODO: 添加功能列表
 * 
 * # 实现的接口:
 * - #IfaceName, #IfaceName2
 * 
 * Since: 1.0.0
 */