<?py # -*- coding: utf-8 -*- ?>
<py? import time>

/**
 * SECTION: #{file_base}
 *
 *
 *
 *
<?py if 'author' in dir():>
 * 创建者: #{author}
<?py #endif>
 * 创建于: #{time.strftime("%Y-%m-%d %H:%M:%S")}
 *
 */