<?py # -*- coding: utf-8 -*- ?>
<?py include('./header.c.tmpl') ?>


/************ includes ************/
#include "#{file_base}.h"


/************ defines ************/
G_DEFINE_INTERFACE(#{camel_id}, #{snake_id}, #{parent_type_macro})

/************ types ************/

/************ globals ************/

/************ function declarations ************/

/************ function implements ************/
static void #{snake_id}_default_init(#{camel_id}Interface *iface)
{
}