<?py # -*- coding: utf-8 -*- ?>
<py? import time ?>
<py? if 'author' in dir(): ?>
<py?    name = author ?>
<py? elif 'company' in dir(): ?>
<py?    name = company ?>
<py? else ?>
<py?    name = "" ?>
<py? #endif ?>
/*
 * Copyright (C) #${time.strftime("%Y")} #{name} All right reserved. 
 */